[Desktop Entry]
Encoding=UTF-8
Name=Link to empty inspect devices dialog
Type=Link
URL=https://developers.google.com/web/tools/chrome-devtools/debug/remote-debugging/imgs/empty-inspect-devices.png
Icon=image-png
